@import url('./style.css');

h3 {
    padding: 0;
    font-size: large;
}

p+h3 {
    margin-top: var(--space-1x);
}

footer {
    margin-top: var(--space-2x);
}

footer a {
    margin-right: var(--space-1x);
    margin-bottom: var(--space-2x);
    text-decoration: none;
    display: inline-block;
}

footer a i {
    background-color: var(--color-button);
    border-color: var(--color-button-border);
    border-radius: .3rem;
    border-width: thin;
    border-style: outset;
    font-style: normal;
    color: var(--color-button-txt);
    margin-right: .25rem;
    padding: .5em 1em;
}

footer a:active i {
    border-style: inset;
}

footer a span {
    text-decoration: underline;
}

footer a#link-reject-cookies {
    color: var(--color-txt-muted);
}